.preparation-steps {
    margin-top: 10px;
  }
  
.preparation-step {
    margin-bottom: 10px; 
}

.preparation-method {
    padding: 16px;
}

.detail-img {
    width: 100%; 
  height: auto; 
  border-radius: 10px; 
  margin-top: 10px;
}