<ion-header [translucent]="true" *ngIf="recipe">
  <ion-toolbar color="custom">
    <ion-title  class="header-text">{{recipe.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="recipe" color ="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">{{recipe.title}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="dark"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-img [src]="getRecipeImage(recipe.id)" class = "detail-img"></ion-img>

  <ion-accordion-group [multiple]="true">
    
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label color="custom">Contexto histórico</ion-label>
      </ion-item>
      <div class="accordion-content" slot="content">{{recipe.history}}</div>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label color="custom">Ingredientes</ion-label>
      </ion-item>
      <div class="accordion-content" slot="content">
        <ion-list *ngIf="recipe.ingredients">
          <ion-item *ngFor="let ingredient of recipe.ingredients" color="light">
            <ion-label>{{ ingredient.name }}</ion-label>
            <ion-label slot="end" style="text-align: left;">{{ ingredient.quantity }}</ion-label>
          </ion-item>
        </ion-list>
        <p *ngIf="!recipe.ingredients">Sem Ingredientes.</p>
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label color="custom">Método de preparo</ion-label>
      </ion-item>
      <div class="accordion-content" slot="content">
        <ion-item *ngFor="let step of recipe.preparation; let i = index" color="light">
          <ion-label>Passo {{ i + 1 }} -- {{ step }}</ion-label>
        </ion-item>
      <p *ngIf="!recipe.preparation">Sem instruções de preparo.</p>
    </div>
    </ion-accordion>

  </ion-accordion-group>
</ion-content>

